.page {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-link {
  color: #61dafb;
}

.page-text {
  color: grey;
}
.page-table {
  display: inline-table;
}

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
}

.error {
  color: red;
}
